.cart__modal {
  margin: 130px 0 0 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cart__modal-content {
  background-color: rgba(246, 224, 158, 0.95);
  border: 5px solid #8b4513;
  padding: 20px;
  border-radius: 8px;
  width: 100vh;
  max-width: 1200px;
}

.cart__modal-items {
  width: 25vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.cart__modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.cart__modal-saved-section {
  width: 100%;
}

.cart__modal-saved-section .cart__saved-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  gap: 20px;
  padding: 20px;
}
