# Dependencies
node_modules/

# Archive and media files
*.zip
*.mp4
*.lnk
*.PNG

# System files
desktop.ini
*.txt

# Environment variables
# .env

# Logs
*.log
request.log
error.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDE Specific Files
.idea/
.vscode/
*.swp
*.swo